@model ExamEase.Models.GlobalOptionSetViewModel
@using ExamEase.Resources
@{
    ViewBag.Module = Resource.UserAttachmentType;
    if (string.IsNullOrEmpty(Model.Id))
    {
        ViewBag.Title = Resource.Add + " " + ViewBag.Module;
    }
    else
    {
        ViewBag.Title = Resource.Edit + " " + ViewBag.Module;
    }
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}



@using (Html.BeginForm("Edit", "UserAttachmentType", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null, new { @class = "form-horizontal", role = "form" }))
{
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title"></h3>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-10">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "form-label required fw600" })
                            @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "invalid-message" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            @Html.LabelFor(model => model.OptionOrder, htmlAttributes: new { @class = "form-label required fw600" })
                            @Html.EditorFor(model => model.OptionOrder, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OptionOrder, "", new { @class = "invalid-message" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a type="button" class="btn  btn-secondary me-1" href="@Url.Action("index")">@Resource.BackToList</a>
            <button type="submit" class="btn  btn-primary">@Resource.Save</button>
        </div>
    </div>
   
}

